.para-style{
    color: brown;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}
/* ciclass jeikhan eidbo clor hobe. customize clor ckrteparbo */
.butttoncolor{
    color: blue; 
    
}
body{
    background-color: rgb(238, 242, 242);
}
